extends template
block content

  +header("resort","no")

  main
    .container
      +breadcrumb('Результат поиска')
      h1.page__title По заданным параметрам найдены <span class="page__title_green">2</span> предложения:

    section.search-param
      .container
        .search-param__wrap
          - for (var i = 0; i < 2; i++) 
            .search-param__block
              .search-param__list
                .item
                  .item__name Дата заезда
                  .item__value.item__value_date 25.06.2016 - 28.06.2016
                .item
                  .item__name Взрослые
                  .item__value 3 человекa                
                .item
                  .item__name Дети
                  .item__value 1 ребёнок
              .search-param__change
                .btn.btn_grey Изменить поиск

          .search-param__resort
            .item
              .item__name Радон
              .item__delete
            .item
              .item__name Случ
              .item__delete

    section.search-result
      .container
        .search-result__wrap
          .search-result__title Санаторий “Радон”
          .search-result__desease
            ul.list          
              -var listIcons = ['Болезни системы кровообращения', 'Болезни костно-мышечной системы и соединительной ткани', 'Болезни органов пищеварения', 'Болезни органов дыхания', 'Болезни нервной системы' , 'Болезни органов пищеварения']
              each icon in listIcons
                li=icon            
          .basket-list__wrap
            .tour.clearfix
              .tour__left
                img(src="images/basket-img-01.jpg", alt="")
                .tour__more
                  span Еще варианты  
              .tour__right
                .tour__block  
                  .tour__type 4 местный тип А
                  .tour__sanatorium Санаторий "Радон"
                  .tour__human
                    .tour__human-adult
                    .tour__human-adult
                    .tour__human-child
                    .tour__human-plus
                    .tour__human-adult 
                .tour__block     
                  .tour__price
                    .tour__info-price 210 руб. за 5 ночей
                    .tour__info-tax + 3% курортный сбор 20.000
                  .tour__action
                    .tour__icons
                      i.icon.icon_wi-fi
                      i.icon.icon_air
                      i.icon.icon_double-bed
                      i.icon.icon_single-bed
                      i.icon.icon_safety
                      i.icon.icon_tv
                      i.icon.icon_phone
                      i.icon.icon_more
                    .tour__dropdown
                      - for (var i = 0; i < 3; i++)
                        i.icon.icon_wi-fi
                        i.icon.icon_air
                        i.icon.icon_double-bed
                        i.icon.icon_single-bed
                        i.icon.icon_safety
                        i.icon.icon_tv
                        i.icon.icon_phone
                .tour__tooltip
                  .tour__info-icon
                  +tooltip('210 руб. за 5 ночей + 3% курортный сбор 20.000')
                  .tour__text Cтоимость путевки формируется из стоимости брони места в санатории и курортного сбора. Сбор можно оплатить онлайн или наличными деньгами/банковской картой непосредственно перед заселением.   
          .search-result__more
            .search-result__title Еще варианты
            .search-result__close закрыть
            .basket-list__wrap
              - for (var v = 0; v < 3; v++)
                .tour.clearfix
                  .tour__left
                    img(src="images/basket-img-01.jpg", alt="")
                  .tour__right
                    .tour__block  
                      .tour__type 4 местный тип А
                      .tour__sanatorium Санаторий "Радон"
                      .tour__human
                        .tour__human-adult
                        .tour__human-adult
                        .tour__human-child
                        .tour__human-plus
                        .tour__human-adult 
                    .tour__block     
                      .tour__price
                        .tour__info-price 210 руб. за 5 ночей
                        .tour__info-tax + 3% курортный сбор 20.000
                      .tour__action
                        .tour__icons
                          i.icon.icon_wi-fi
                          i.icon.icon_air
                          i.icon.icon_double-bed
                          i.icon.icon_single-bed
                          i.icon.icon_safety
                          i.icon.icon_tv
                          i.icon.icon_phone
                          i.icon.icon_more
                        .tour__dropdown
                          - for (var i = 0; i < 3; i++)
                            i.icon.icon_wi-fi
                            i.icon.icon_air
                            i.icon.icon_double-bed
                            i.icon.icon_single-bed
                            i.icon.icon_safety
                            i.icon.icon_tv
                            i.icon.icon_phone
                    .tour__choose
                      .btn.btn_green Выбрать этот вариант           
            .search-result__simular
              .btn.btn_grey
                span Ещё варианты              

    section.search-result
      .container
        .search-result__wrap
          .search-result__title Санаторий “Случ”
          .search-result__desease
            ul.list          
              -var listIcons = ['Болезни системы кровообращения', 'Болезни костно-мышечной системы', 'Болезни органов пищеварения', 'Болезни органов дыхания', 'Болезни нервной системы' , 'Болезни органов пищеварения']
              each icon in listIcons
                li=icon            
          .basket-list__wrap
            .tour.clearfix
              .tour__left
                img(src="images/basket-img-01.jpg", alt="")
                .tour__more
                  span Еще варианты  
              .tour__right
                .tour__block  
                  .tour__type 4 местный тип А
                  .tour__sanatorium Санаторий "Радон"
                  .tour__human
                    .tour__human-adult
                    .tour__human-adult
                    .tour__human-child
                    .tour__human-plus
                    .tour__human-adult 
                .tour__block     
                  .tour__price
                    .tour__info-price 210 руб. за 5 ночей
                    .tour__info-tax + 3% курортный сбор 20.000
                  .tour__action
                    .tour__icons
                      i.icon.icon_wi-fi
                      i.icon.icon_air
                      i.icon.icon_double-bed
                      i.icon.icon_single-bed
                      i.icon.icon_safety
                      i.icon.icon_tv
                      i.icon.icon_phone
                      i.icon.icon_more
                    .tour__dropdown
                      - for (var i = 0; i < 3; i++)
                        i.icon.icon_wi-fi
                        i.icon.icon_air
                        i.icon.icon_double-bed
                        i.icon.icon_single-bed
                        i.icon.icon_safety
                        i.icon.icon_tv
                        i.icon.icon_phone
                .tour__tooltip
                  .tour__info-icon
                  +tooltip('210 руб. за 5 ночей + 3% курортный сбор 20.000')
                  .tour__text Cтоимость путевки формируется из стоимости брони места в санатории и курортного сбора. Сбор можно оплатить онлайн или наличными деньгами/банковской картой непосредственно перед заселением.   
          .search-result__more
            .search-result__title Еще варианты
            .search-result__close закрыть
            .basket-list__wrap
              - for (var v = 0; v < 3; v++)
                .tour.clearfix
                  .tour__left
                    img(src="images/basket-img-01.jpg", alt="")
                  .tour__right
                    .tour__block  
                      .tour__type 4 местный тип А
                      .tour__sanatorium Санаторий "Радон"
                      .tour__human
                        .tour__human-adult
                        .tour__human-adult
                        .tour__human-child
                        .tour__human-plus
                        .tour__human-adult 
                    .tour__block     
                      .tour__price
                        .tour__info-price 210 руб. за 5 ночей
                        .tour__info-tax + 3% курортный сбор 20.000
                      .tour__action
                        .tour__icons
                          i.icon.icon_wi-fi
                          i.icon.icon_air
                          i.icon.icon_double-bed
                          i.icon.icon_single-bed
                          i.icon.icon_safety
                          i.icon.icon_tv
                          i.icon.icon_phone
                          i.icon.icon_more
                        .tour__dropdown
                          - for (var i = 0; i < 3; i++)
                            i.icon.icon_wi-fi
                            i.icon.icon_air
                            i.icon.icon_double-bed
                            i.icon.icon_single-bed
                            i.icon.icon_safety
                            i.icon.icon_tv
                            i.icon.icon_phone
                    .tour__choose
                      .btn.btn_green Выбрать этот вариант           
            .search-result__simular
              .btn.btn_grey
                span Ещё варианты


    section.basket-result
      .container
        .basket-result__wrap
          .basket-result__img
            img(src="images/basket-logo.png", alt="")
          .basket-result__info
            .basket-result__price Цена за путевки: 
              span 210 руб.
            .basket-result__tax Курортный сбор: 
              span +30 руб.
            .basket-result__sum Итого: 
              span 230 руб.
            .basket-result__btn 
              a(href="").btn.btn_blue Оформить

    section.feedback
      .container
        .feedback__wrap
            .feedback__text
              span Вы можете связаться с нашими менеджером для подбора 
              br
              span индивидуального предложения
            .feedback__btn
              a(href="#order").btn.btn_invert.js-order Отправить заявку

  +footer('int')

  #order.popup.popup_order
    .popup__title Отправить заявку
    .popup__close
    .popup__form     
      form(action="").form          
        .b-filter__row
          .b-filter__block
            label.label(for="filterResort") Выберите санаторий
            select#filterResort.select(name='PROPERTY[][]')
              option(selected) Все
              - var listMenu = ['Родон', 'Поречье','Сосновый бор','Рассвет-Любань','Случь','Солнышко','Росинка','Налибокская пуща']
              each item in listMenu
                option=item
          .b-filter__block
            label.label(for="filterDate") Дата заезда*   
            input.req.input.input_date#filterDate(type='text', name='PROPERTY[][]', placeholder='')
          .b-filter__block
            label.label(for="filterDays") Количество дней*   
            input.req.input#filterDays(type='number', name='PROPERTY[][]', placeholder='', min='1', max='365', maxlength='3', autocomplete="false")
        .b-filter__row
          .b-filter__block
            label.label(for="filterComfort") Степень комфортности
            select#filterComfort.select(name='PROPERTY[][]')
              option(selected) люкс
              - var listMenu = ['полу-люкс','обычный']
              each item in listMenu
                option=item              
          .b-filter__block
            label.label(for="filterPlaces") Размещение в номере*
            select.req#filterPlaces.select(name='PROPERTY[][]')
              option(selected) 1
              - var listMenu = [2,3,4]
              each item in listMenu
                option=item
            label.checkbox  
              input(type="checkbox").checkbox__hidden
              span.checkbox__showed
              span.checkbox__title Только одноместные номера                   

          .b-filter__block
            label.label(for="filterChild") Количество детей
            select#filterChild.select.select_child(name='PROPERTY[][]')
              option(selected) нет
              - var listMenu = [1,2,3,4]
              each item in listMenu
                option=item  
        .popup_order__title Ваши контактные данные
        .b-filter__row
          .b-filter__block
            label.label(for="filterName") Имя
            input#filterName.input(type='text', name='form[]', placeholder='Василий',autocomplete='name')
          .b-filter__block
            label.label(for="filterPhone") Телефон
            input#filterPhone.input.req(type='text', name='form[]', placeholder='+375295750215',autocomplete='tel')                      
          .b-filter__block
            label.label(for="filterEmail") E-mail
            input#filterEmail.input.req.email(type='email', name='form[]', placeholder='romateo@list.ru',autocomplete='email')
        .b-filter__hr
        .popup_order__btn
          input.btn.btn_green(type='submit', value="Отправить")