include menu
include feedback

mixin filter(page)
  - var page = (typeof page === 'undefined') ? '' : "b-filter_" + page
  section.b-filter(class=page)
    .container
      .b-filter__title Подобрать путёвку
      .b-filter__wrap
        form.b-filter__form(action="")
          .b-filter__left
            .b-filter__block
              label.label(for="filterResort") Выберите санаторий
              select#filterResort.select
                option(selected) Все
                - var listMenu = ['Радон','Поречье','Сосновый бор','Рассвет-Любань','Случь','Солнышко','Росинка','Налибокская пуща']
                each item in listMenu
                  option=item
            .b-filter__block
              label.label(for="filterComfort") Степень комфортности
              select#filterComfort.select
                option(selected) люкс
                - var listMenu = ['полу-люкс','обычный']
                each item in listMenu
                  option=item
            .b-filter__block
              label.label(for="filterDays") Количество дней*   
              input.req.input#filterDays(type='number', name='form[]', placeholder='', min='1', max='365', maxlength='3', autocomplete="false")
            .b-filter__block
              label.label(for="filterPlaces") Количество мест*
              select.req#filterPlaces.select
                option(selected) 1
                - var listMenu = [2,3,4]
                each item in listMenu
                  option=item
            .b-filter__block
              label.label(for="filterDate") Дата заезда*   
              input.req.input.input_date#filterDate(type='text', name='form[]', placeholder='')
            .b-filter__block
              label.label(for="filterCountry") Выберите гражданство
              select#filterCountry.select
                option(selected) Беларусь
                - var listMenu = ['Россия']
                each item in listMenu
                  option=item                             
          .b-filter__right
            input.btn.btn_blue(type="submit", value="Подобрать путёвку")
        .b-filter__bottom
          a.b-filter__more(href="") Расширенный поиск
        .b-filter__close 
          .b-filter__close-btn  Закрыть

mixin main-hot(o)
  section.main-hot
    .container
      .section__title Горящие путёвки
      .main-hot__wrap
        .row
          - var hotList = ['4 местный тип А','1 местный повышенной комфортности','2 местный тип А']
          each hot in hotList
            .column
              .tour
                .tour__img
                  img(src="images/tour-01.jpg", alt="")
                .tour__top
                  .tour__type=hot
                  .tour__sanatorium Санаторий "Радон"
                .tour__bottom
                  .tour__list
                    ul
                      -var listIcons = ['Болезни системы кровообращения', 'Болезни костно-мышечной системы и соединительной ткани', 'Болезни органов пищеварения', 'Болезни органов дыхания', 'Болезни нервной системы']
                      each icon in listIcons
                        li=icon
                  .tour__icons-wrap
                    .tour__icons
                      i.icon.icon_wi-fi(title="Wi-fi")
                      i.icon.icon_double-bed(title="двуспальная кровать")
                      i.icon.icon_single-bed(title="односпальная кровать")
                      i.icon.icon_safety(title="сейф")
                      i.icon.icon_tv(title="телевизор")
                      i.icon.icon_phone(title="телефон")
                      i.icon.icon_hairdryer(title="фен")  
                      i.icon.icon_more(title="ещё")
                    .tour__dropdown
                      i.icon.icon_wi-fi(title="Wi-fi")
                      i.icon.icon_double-bed(title="двуспальная кровать")
                      i.icon.icon_single-bed(title="односпальная кровать")
                      i.icon.icon_safety(title="сейф")
                      i.icon.icon_tv(title="телевизор")
                      i.icon.icon_phone(title="телефон")
                      i.icon.icon_hairdryer(title="фен")
                      i.icon.icon_shower(title="душевая кабина")
                      i.icon.icon_fringe(title="холодильник")
                      i.icon.icon_table(title="стол")
                      i.icon.icon_chair(title="стулья")
                      i.icon.icon_dish(title="столовые приборы и посуда")
                      i.icon.icon_lock(title="электронные замки")
                      i.icon.icon_closet(title="шкаф для одежды")
                      i.icon.icon_sofa(title="диван")
                      i.icon.icon_chair-bed(title="кресло-кровать")
                      i.icon.icon_bath(title="ванна")
                      i.icon.icon_rode(title="халат")
                      i.icon.icon_slippers(title="тапочки")
                      i.icon.icon_toiletries(title="туалетно-косметические принадлежности")
                      i.icon.icon_balcony(title="балкон")
                      i.icon.icon_kettle(title="чайник")
                      i.icon.icon_iron(title="утюг")
                      i.icon.icon_board(title="гладильная доска")
                      i.icon.icon_free(title="Wi-fi Free")
                      i.icon.icon_disabled(title="Имеются номера для людей с ограниченными физическими возможностями")







                  .tour__info
                    a.tour__info-icon.fancybox(href="#tooltip")
                    .tour__info-price 210 руб. за 5 ночей
                    .tour__info-tax + 3% курортный сбор 20.000
                  .tour__action
                    .tour__btn
                      a(href="#book").btn.btn_green.js-book Забронировать
      .main-hot__more
        a(href="").btn 
          span.hide-mobile Посмотреть другие специальные предложения
          span.show-mobile Другие предложения

mixin tooltip(text)
  .tooltip
    .tooltip__arrow
    .tooltip__inner=text

mixin popup_tooltip()
  #tooltip.popup.popup_tooltip
    .b-text.clearfix
      p Cтоимость путевки формируется из стоимости брони места в санатории и курортного сбора.
      p Сбор можно оплатить онлайн или наличными деньгами/банковской картой непосредственно перед заселением.
